# General
action: "install" # uninstall, can be passed also to CLI with --action
brew-token: !ENV "${BREW_TOKEN}"
debug: True
parallel: True
# Operators
kubeconfig: !ENV "${KUBECONFIG}"
local_operators_latest_iib_path: null # and s3_bucket_operators_latest_iib_path are mutually exclusive
s3_bucket_operators_latest_iib_path: null # full path to S3 object containing IIB image
aws_access_key_id: !ENV "${AWS_ACCESS_KEY_ID}"
aws_secret_access_key: !ENV "${AWS_SECRET_ACCESS_KEY}"
aws_region: us-east-1
# Addons
endpoint: "https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token"
ocm-token: !ENV "${OCM_TOKEN}"
cluster-name: cluster1

must_gather_output_dir: null

addons:
- name: ocm-addon-test-operator
  has-external-resources: "false"
  aws-cluster-test-param: "false"
  cluster-name: cluster1 # optional, overwrites global `cluster-name`
  timeout: 30m
  rosa: true
  ocm-env: stage

operators:
  - name: openshift-pipelines-operator-rh
    namespace: openshift-pipelines
    channel: latest
    source: redhat-operators
    iib: </path/to/iib:123456>
    source-image: <registry/redhat/operator-index:v4.13>
    kubeconfig: !ENV "${HOME}/kubeconfig1"  # optional, overwrites global `kubeconfig`
    timeout: 30m
